* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(222, 222, 222);
  background-image: url("https://media.istockphoto.com/id/1179553210/vector/film-strip-roll-frame-cinema-with-place-for-text-vector-cinema-festival-poster-banner-or.jpg?s=170667a&w=0&k=20&c=zFE4VHd3-Vncq3qf7O_7ZaNa7ubvH9-eXrrK2LA-ueE=");
  background-size: cover;
}

.main-container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  width: 60vw;
  height: 30vh;
  background-color: #fff;
  margin: 2rem;
  box-shadow: 0px 0px 5px 2px rgb(173, 169, 169);
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 100%;
  padding: 10px;
}

.main div {
  border: 1px solid red
}

.star-image {
  width: 18px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.movie-poster {
  height: 100%;
}

.star-container {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 80px;
}

.btn-container {
  display: flex;
  width: 130px;
  justify-content: space-between;

  & button {
    font-size: 12px;
    padding: 5px;
    background-color: rgb(83, 83, 234);
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
  }

  & .favourite {
    background-color: rgb(199, 12, 209);
  }
}

.plus-sign{
  width:10px;
  cursor: pointer;
  
}
.minus-sign{
  width:10px;
  cursor: pointer;

}